/*         photo       --------------------          photo         */

.wrapper{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, .9);
}
.display-none{
  display: none;
}
.wrapper-flex{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.wrapper-button{
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: tomato;
  color: azure;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: .2s;
}
.wrapper-button:hover{
  background-color: azure;
  color: tomato;
  transform: scale(1.1);
}
img{
  width:400px;
}

/*         table       ---------------------           table        */

table{
  border-collapse: collapse;
}
.span-past_num{
  font-size: 10px;
}
.header-row{
  font-size: 14px;
}

.header-row > th:nth-child(1){
  background-color: rgb(255, 247, 131);
}
.header-row > th:nth-child(2){
  background-color: rgb(255, 247, 131);
}
.header-row > th:nth-child(3){
  background-color: rgb(255, 247, 131);
}
.header-row > th:nth-child(6){
  background-color: rgb(255, 247, 131);
}
th, td{
  border: 1px solid rgba(35, 31, 31, 0.238);
  padding: 3px;
  text-align: left;
}
.td_name {
  display: flex;
  flex-direction: row;
}
.td_name span:nth-child(1){
  padding-left: 7px;
}
.td_name span:nth-child(2){
  padding-left: 3px;
}
a{
  display: block;
}
a:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: brown;
}
.divv{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: brown;
}

/*         form      ---------------------           form        */

input{
  display: block;
}

/*         form      ---------------------           form        */

@media screen and (max-width: 700px) {
  body{
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .td_name {
    flex-direction: column;
  }
  .td_name span:nth-child(1){
    padding-left: 7px;
  }
  .td_name span:nth-child(2){
    padding-left: 7px;
  }
} 